{%- if page.collection == "posts" -%}
  {%- assign this_lang = page.lang -%}
  {%- assign counterpart = site.posts
      | where: "ref", page.ref
      | where_exp: "p", "p.lang != this_lang"
      | first -%}
  {%- if counterpart -%}
    {{- counterpart.url | relative_url -}}
  {%- elsif this_lang == "en" -%}
    {{- "/pt/" | relative_url -}}
  {%- else -%}
    {{- "/" | relative_url -}}
  {%- endif -%}
{%- else -%}
  {%- assign this_lang = page.lang -%}
  {%- if page.alt_url -%}
    {{- page.alt_url | relative_url -}}
  {%- elsif this_lang == "en" -%}
    {{- "/pt/" | relative_url -}}
  {%- else -%}
    {{- "/" | relative_url -}}
  {%- endif -%}
{%- endif -%}
